body {
  background: #EAF0EE;
  background: -webkit-linear-gradient(top, #EAF0EE, #8C8A8C);
  background: -moz-linear-gradient(top, #EAF0EE, #8C8A8C);
  background: linear-gradient(to bottom, #EAF0EE, #8C8A8C);
  color: #0e0b0b;
}
.jumbotron{

  
  background-image: url("..static/images/biodiversity.jpg");
  background-size: 100% 100%;
  text-align: center;
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.25);
  
}